@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*
-----------------------
    MAIN APP
-----------------------
*/

.stApp {
    background-color: rgb(20, 20, 69);
    font-family: 'Poppins', sans-serif;
}

.css-18ni7ap {
    background-color: rgb(38, 38, 73);
}

/*
----------------------
      TITLE
----------------------
*/
h1 {
    color: white;
    text-align: center;
}


p {
    color: white;
}

/*
  ----------------------
        BUTTONS
  ----------------------
  */
.stButton>button {
    background-color: rgb(162, 164, 75);
    color: #000;
    border-style: none;
    z-index: 4;
    margin-left: 45%;
}

.stButton>button:hover {
    background-color: #333333;
    color: #fff;
}


.stTextInput {
    color: white;
}

.stTextInput>div>div>input {
    color: #000000;
}